process {
    
    executor = 'slurm'
    memory = '10 GB'
    cpus = 4
    time = 8.h

    clusterOptions = '--partition=scavenger --qos=scavenger'

    beforeScript = '''
        export XDG_CACHE_HOME="/projects/rpci/joyceohm/Emily/2026_Fusions_St_Jude/wgs_to_fusion/.cache"
        mkdir -p "$XDG_CACHE_HOME/fontconfig"å
    '''

    errorStrategy = 'retry'
    maxRetries = 4

    withLabel: process_single {
        cpus = 1
        memory = { 8.GB * task.attempt }
    }

    withName: FASTQ_PREPROCESS_GATK {
        cpus = { 4 * task.attempt}
        memory = { 32.GB * task.attempt }
    }
}

executor{
    $slurm {
        queueSize = 50
        submitRateLimit = '190/60min'
    }
}

