process {
    
    executor = 'slurm'
    memory = '10 GB'
    cpus = 4
    time = 8.h

    clusterOptions = '--partition=scavenger --qos=scavenger'

    errorStrategy = 'retry'
    maxRetries = 3

    withLabel: process_single {
        cpus = 1
        memory = { 8.GB * task.attempt }
    }
}

executor{
    $slurm {
        queueSize = 50
        submitRateLimit = '190/60min'
    }
}

