# Accessory
/Picard_Metrics/
.nextflow
/apptainer_cache/

# Data 
*BAMS
*BAMS2
*sample_input.csv
get_data.sh
/tmp/
/downstream_analysis/Figures/
*.txt
*chunks*
*SORTED
*SAMPLE_INFO.csv

# Results 
*/results*/
*.log*
*.out
**/work/
*logs*