# Accessory
/Picard_Metrics/
.nextflow
/apptainer_cache/

# Data 
/BAMS/
/BAMS2/
SAMPLE_INFO.csv
STJude26_sample_input.csv
get_data.sh
/tmp/
/downstream_analysis/Figures/

# Results 
/results*/
*.log*
*.out
**/work/