process {
    
    executor = 'slurm'
    memory = '10 GB'
    cpus = 4
    time = 8.h

    clusterOptions = '--partition=scavenger --qos=scavenger'

    errorStrategy = 'retry'
    maxRetries = 3

    withName: STAR_ALIGN {
        cpus = 32
        memory = '60 GB'
    }

    withName: GATK4_MARKDUPLICATES {
        cpus = 16
        memory = '32 GB'
    }

    withLabel: process_single {
        executor = 'slurm'
        cpus = 1
        memory = { 8.GB * task.attempt }
    }
}

executor{
    $slurm {
        queueSize = 50
        submitRateLimit = '190/60min'
    }
}

