process {
    
    executor = 'slurm'
    memory = '10 GB'
    cpus = 4
    time = 8.h

    clusterOptions = '--partition=scavenger --qos=scavenger'

    errorStrategy = 'retry'
    maxRetries = 2

    withName: STAR_ALIGN {
        cpus = 32
        memory = '60 GB'
    }

    withName: GATK4_MARKDUPLICATES {
        cpus = 16
        memory = '32 GB'

        ext.args = '--CREATE_INDEX true'
        ext.prefix = { "${meta.id}.bam" }

        publishDir = [ enabled: { false }, 
        path: { "/projects/rpci/joyceohm/Emily/2026_Fusions_St_Jude/results/picard" }, 
        mode: 'copy' ]
    }

    withLabel: process_single {
        executor = 'local'
        cpus = 2
        memory = { maxMem(2.GB * task.attempt) }
    }
}

executor{
    $slurm {
        queueSize = 50
        submitRateLimit = '190/60min'
    }
}

