process {
    
    executor = 'slurm'
    memory = '200 GB'
    cpus = 32
    time = 8.h


    errorStrategy = 'retry'
    maxRetries = 2

    withName: PICARD_COLLECTRNASEQMETRICS {
        time = 8.h
    }

    withName: GATK4_MARKDUPLICATES {
        ext.args = '--CREATE_INDEX true'
        ext.prefix = { "${meta.id}.bam" }
        publishDir = [
            enabled: { false },
            path:    { "/projects/rpci/joyceohm/Emily/2026_Fusions_St_Jude/results/picard" },
            mode:    'copy'
            ]
    }

    withLabel:process_single {
        executor = 'local'
        cpus = 2
        memory = { maxMem(2.GB * task.attempt) }
    }
}

executor{
    $slurm {
        queueSize = 50
        submitRatelimit = '190/60min'
    }
}

